# charm-proof
charm-tools>=2.0.0
# amulet deployment helpers
bzr+lp:charm-helpers#egg=charmhelpers
# BEGIN: Amulet OpenStack Charm Helper Requirements
# Liberty client lower constraints
amulet>=1.14.3,<2.0
bundletester>=0.6.1,<1.0
python-keystoneclient>=1.7.1,<2.0
python-glanceclient>=1.1.0,<2.0
python-openstackclient>=1.7.0,<2.0
python-mistralclient
pika>=0.10.0,<1.0
distro-info
# END: Amulet OpenStack Charm Helper Requirements
